body{
    margin: 0;

}
header{
    background: #EFEFEF;
    padding: 1rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-center {
    flex-grow: 1; /* Allows the text to take available space */
    text-align: center; /* Aligns the text horizontally */
}
.text-center h1 {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 2rem; /* Adjust the font size as needed */
}
.logo img {
    width: 50px; /* Adjust the width of the logo as needed */
    height: auto;
}
